<service android:name=".WallpaperActivity" android:enabled="true" android:label="@string/app_name" android:permission="android.permission.BIND_WALLPAPER" android:process="${applicationId}.wallpaper">
    <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
    </intent-filter>
    <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper" />
</service>